<div class="container">
  <router-outlet></router-outlet>

  <!--<h1>Products List</h1>
  <div class="card">
    <div class="card-content">
      <p>
        I am a very simple card. I am good at containing small bits of
        information. I am convenient because I require little markup to use
        effectively.
      </p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#mobiles">Mobiles</a></li>
        <li class="tab"><a href="#laptops">Laptops</a></li>
        <li class="tab"><a href="#books">Books</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="mobiles"><app-mobiles></app-mobiles></div>
      <div id="laptops"><app-laptops></app-laptops></div>
      <div id="books"><app-books></app-books></div>
    </div>
  </div> -->
</div>
